body {
    margin: 0;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    gap:1px;
}
#game-board div {
    width: 33%;
    height: 33%;
    border: 1px solid red;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    
}
#start-button {
    margin: 10px;
    border-radius: 10px;
}