body {
    margin: 0;
    display: flex;    
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10vh;
}

#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
}
#game-board div {
    width: 33.33%;
    height: 33.33%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    
}
#game-board div:hover {
    cursor: pointer;
}
#game-board div:nth-child(5) {
    border: 3px solid black;
}
#game-board div:nth-child(6), #game-board div:nth-child(4){
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#game-board div:nth-child(2), #game-board div:nth-child(8){
    border-right: 3px solid black;
    border-left: 3px solid black;
}
#start-button {
    margin: 10px;
    border-radius: 10px;
}